	.new-price {
		color: #000;
	}

	.new-price-white {
		color: white;
	}

	.old-price {
		color: #ccc;
	}

	.pricing-table.featured-boxes .featured-new__price-helper {
	    position: relative;
	}
	.pricing-table.featured-boxes .featured-new .featured-box .price {
	    float: none;
	    margin: 0 0 22px;
	    font-size: inherit;
	}

	.price__from {
	    margin-bottom: -6px;
	    font-size: .5em;
	    font-weight: 700;
	    color:inherit;
	}
	.price__value--dollars {
	    font-size: 1.9em;
	    position: relative;
	    display: inline-block;
	    line-height: .8em;
	    vertical-align: top;
	    font-weight: 400;
	    color:inherit;
	}

	.price__group {
	    vertical-align: top;
	    display: inline-block;
	    margin-left: -1px;
	    color:inherit;
	}

	.price__value--cents {
	    margin-top: -3px;
	    display: inline-block;
	    vertical-align: top;
	    font-size: 1em;
	    color:inherit;
	}

	.price__period {
	    font-size: .2em;
	    margin-right: 0;
	    margin-left: 5px;
	    margin-top: -4px;
	    line-height: 1em;
	    max-width: 50px;
	    color:inherit;
	}

	.price--old::before {
	    content: "";
	    height: 2px;
	    position: absolute;
	    -webkit-transform: rotate(-30deg);
	    -ms-transform: rotate(-30deg);
	    transform: rotate(-15deg);
	    background-color: #cccccc9e;
	    width: 100%;
	    top: 25%;
	    left: 7%;
	}

	/*CheckBox */
	.checkbox {
	  display: block;
	  position: relative;
	  padding-left: 0px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 22px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	/* Hide the browser's default checkbox */
	.checkbox input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
	  position: absolute;
	  top: 0;
	  left: auto;
	  margin-left: -12.5px;
	  height: 25px;
	  width: 25px;
	  background-color: #fffff;
	  border: 1px solid #9c9596;
	}

	/* On mouse-over, add a grey background color */
	.checkbox:hover input ~ .checkmark {
	  background-color: #efecec;
	}

	/* When the checkbox is checked, add a blue background */
	.checkbox input:checked ~ .checkmark {
	  background-color: #f7f7f7;
	  border: 1px solid #2d1519;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the checkmark when checked */
	.checkbox input:checked ~ .checkmark:after {
	  display: block;
	}

	/* Style the checkmark/indicator */
	.checkbox .checkmark:after {
	  left: 9px;
	  top: 5px;
	  width: 5px;
	  height: 10px;
	  border: solid #f82249;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	p.img {
		margin: 0 auto 15px;
	}

	.service-checked p.img {
	    display: inline-block;
	    padding: 20px;
	    -webkit-border-radius: 100px;
	    border-radius: 100px;
	    /*background-color: transparent;*/
	    -webkit-transition: all .3s;
	    transition: all .3s;
	    width: 100px;
	    height: 100px;
	    background-color: #f82249;
	    -webkit-transition: all .3s;
	    transition: all .3s;
	}

	.service-checked p.img svg {
	    width: 50px;
	    height: 50px;
	    margin-top: 5px;
	    margin-left: 0;
	}

	.service-checked p.img svg g g {
		fill: white;
	}

	

	.bottom-cart-container {
	    padding: 40px 0 40px 0 !important;
	    background: rgba(0, 0, 0, 0.52) !important; 
	    position: fixed !important;
	    bottom: 0px !important;
	    width: 100% !important;
	}

	#subscribe button:disabled {
		background: #597575;
	    color: black;
	    cursor: not-allowed;
	}

	#subscribe button:disabled ~ button:hover {
	    background: #597575;
	}

	.checkout-success {
	    position: relative;
	    margin: 0 auto 3px;
	    width: 39px;
	    height: 39px;
	    font-size: 25px;
	    line-height: 38px;
	    color: #fff;
	    text-align: center;
	    background-color: #f82249;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}


	/* Steps */
  
  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: #f82249;
  }
  .progressbar li.active:before {
      border-color: #f82249;
  }
  .progressbar li.active + li:after {
      background-color: #f82249;
  }

    .label {
	    display: inline-block;
	    text-transform: uppercase;
	    padding: .25em .55em .35em;
	    vertical-align: .27em;
	    font-size: .8em;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;
	}

    .label.label-primary {
	    position: relative;
	    top: 5px;
	    padding-top: 4px;
	    padding-bottom: 4px;
	    line-height: 1.2em;
	    text-align: left;
	    white-space: normal;
	    background-color: #636b75;
		color: #fff;
  	}

  	p.svg-75 svg {
  		width:75px;
  		height: 75px;
  	}
  	/* Botton Cart Container */
  	.bottom-cart-container .price__value--dollars {
	    font-size: 2.9em;
	    position: relative;
	    display: inline-block;
	    line-height: .8em;
	    vertical-align: top;
	    font-weight: 400;
	    color:white;
	}

	.bottom-cart-container .price__value--cents {
	    margin-top: -3px;
	    display: inline-block;
	    vertical-align: top;
	    font-size: 1.6em;
	    color:white;
	}

	.bottom-cart-container .price__period {
	    font-size: 0.8em;
	    margin-right: 0;
	    margin-left: 5px;
	    margin-top: 0px;
	    line-height: 1em;
	    max-width: 50px;
	    color:white;
	}

	.bottom-cart-container .seprator{
		margin: 5px 12px;
	    border: 1px solid #fff;
	}

	.col {margin: auto;}

	.alternate span.plan-select, a.select-btn{
		background-color: #597575;
	    margin: 10px;
	    padding: 10px 20px;
	    color: white;
	    border-radius: 25px;
	    font-weight: 500;
	    cursor: pointer;
	}
	.alternate span.plan-select.select, a.select-btn.select{
		background-color: #f82249;
	}


	.footer-cart-link a{

	    color: #ffffff;
	    transition: 0.5s;
	    text-decoration: underline;
	    font-size: small;
	}

	.bottom-cart-container hr {border-top-color: white;}
	.bottom-cart-container h2, .bottom-cart-container h3, .bottom-cart-container h4, .bottom-cart-container table tr th, .bottom-cart-container table tr td{color:#ffffff;}
	.bottom-cart-container table{width: 100%;}
	.bottom-cart-container table tbody{border-top: 1px dotted #fff;}
	.bottom-cart-container table tr th{width: 75%;}
	.bottom-cart-container table tr td{font-weight: 100px;}
	.bottom-cart-container table tr.discount td{font-size: small;}
	.bottom-cart-container table tr.line td{font-size: smaller;}
	

	.bottom-cart-container .close-button button {
	    text-decoration: none;
	    font-style: normal;
	    cursor: pointer;
	    background: 0 0;
	    border: 0;
	    -webkit-appearance: none;
	    display: block;
	    outline: 0;
	    padding: 0;
	    z-index: 1046;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    font-family: "Open Sans",Arial,sans-serif;
	    font-weight: 300;
	    font-size: 28px;
	    color: #fff;
	    overflow: visible;
	    margin-top: -6px;
	}


	/* The radio */
	.radio {
	  display: block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 22px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	/* Hide the browser's default radio button */
	.radio input[type=radio] {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}

	/* Create a custom radio button */
	.radio .checkmark {
	  position: absolute;
	  top: 8px;
	  left: 8px;
	  height: 25px;
	  width: 25px;
	  background-color: #eee;
	  border-radius: 50%;
	}

	/* On mouse-over, add a grey background color */
	.radio:hover input[type=radio] ~ .checkmark {
	  background-color: #ccc;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.radio .checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	.radio input[type=radio]:checked ~ .checkmark:after {
	  display: block;
	  background: #f82249;   
	}

	/* Style the indicator (dot/circle) */
	.radio .checkmark:after {
	 	top: 8px;
		left: 8px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: white;
	}